Repository rcmdnk/pyproject-pre-commit: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit, mdformat-check, mdformat

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

autoflake-diff:
  name: autoflake-diff
  entry: autoflake
  language: system
  require_serial: true
  verbose: true

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  require_serial: true
  args:
  - --in-place

autopep8-diff:
  name: autopep8-diff
  entry: autopep8
  language: system
  args:
  - --diff
  verbose: true

autopep8:
  name: autopep8
  entry: autopep8
  language: system
  args:
  - --in-place

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml

mdformat-check:
  name: mdformat-check
  entry: mdformat
  language: system
  args:
  - --check

mdformat:
  name: mdformat
  entry: mdformat
  language: system

First implementation
  .github/workflows/template_test.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  LICENSE
  README.md
  poetry.lock
  pyproject.toml
  setup.sh
  src/pyproject_pre_commit/__init__.py
  src/pyproject_pre_commit/pyproject_pre_commit.py
  src/python_template/__init__.py
  tests/test_pyproject_pre_commit.py
  tests/test_version.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit, mdformat-check, mdformat

feat: add pypi update action
  .github/workflows/pypi.yml
Due: none

fix: pre-commit output
  src/pyproject_pre_commit/pyproject_pre_commit.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

chore: add indent to list indict in yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/pyproject_pre_commit/pyproject_pre_commit.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

chore: mypy option: install_types, non_interactive
  src/pyproject_pre_commit/pyproject_pre_commit.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

docs: update README
  README.md
  pyproject.toml
Due: blacken-docs, mdformat-check, mdformat

fix: secrets, separate workflows
  .github/workflows/dispatch.yml
  .github/workflows/pypi.yml
  .github/workflows/test.yml
Due: none

add information in readme
  pyproject.toml
Due: none

update version
  pyproject.toml
  src/pyproject_pre_commit/__init__.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

chore: fix PyPI workflow
  .github/workflows/pypi.yml
Due: none

chore: avoid fail status if there is no diff
  .github/workflows/pypi.yml
Due: none

publish
  .github/workflows/pypi.yml
Due: none

chore: fix PyPI action
  .github/workflows/pypi.yml
  .gitignore
Due: none

chore: remove unused pytest-benchmark
  pyproject.toml
Due: none

feat: use wemake-python-styleguide
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  poetry.lock
  pyproject.toml
Due: none

remove pre-commit-hooks
  pyproject.toml
Due: none

chore: check only src and pyproject.toml
  .github/workflows/pypi.yml
Due: none

chore: fix pypi publish
  .github/workflows/pypi.yml
Due: none

check pypi wf
  .github/workflows/pypi.yml
Due: none

tee -a -> >>
  .github/workflows/pypi.yml
Due: none

capital
  .github/workflows/pypi.yml
Due: none

fix: pypi.yml
  .github/workflows/pypi.yml
Due: none

fix ref for pull_request
  .github/workflows/test.yml
Due: none

remove on.pull_request from test (done in dispatch)
  .github/workflows/test.yml
Due: none

remove ref check in test
  .github/workflows/test.yml
Due: none

combine dispatch to test
  .github/workflows/dispatch.yml
  .github/workflows/test.yml
Due: none

feat: support python3.7, python3.8
  .github/workflows/test.yml
  pyproject.toml
Due: none

version 0.0.3
  pyproject.toml
  src/pyproject_pre_commit/__init__.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

fix: drop python3.7 (the latest isort support only >=3.8)
  .github/workflows/test.yml
  README.md
  pyproject.toml
  src/pyproject_pre_commit/__init__.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit, mdformat-check, mdformat

fix: support python>=3.8.1 (as of flake8)
  pyproject.toml
  src/pyproject_pre_commit/__init__.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

test: fix python-version to python-action
  .github/workflows/test.yml
Due: none

update poetry.lock
  poetry.lock
Due: none

test: run pre-commit in action always test: tomllib for python 3.11
  .github/workflows/test.yml
  tests/test_version.py
Due: blacken-docs, autoflake-diff, autoflake, autopep8-diff, autopep8, flake8, bandit

chore: Update GitHub Push Action and Setup Python versions in pypi workflow file.
  .github/workflows/pypi.yml
Due: none

chore: Update Github workflows for pushing and tagging releases.
  .github/workflows/pypi.yml
Due: none

chore: enable automatic merging of pull requests in renovate.json configuration file
  renovate.json
Due: none

chore: Update GitHub Actions workflow for PyPI release.
  .github/workflows/pypi.yml
Due: none

chore: fix new tag (with v) in pypi.yml script
  .github/workflows/pypi.yml
Due: none

chore: Update pyproject.toml dependencies chore: Update renovate.json configuration
  pyproject.toml
  renovate.json
Due: none

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  autoflake-diff: any of: \.py$
  autoflake: any of: \.py$
  autopep8-diff: any of: \.py$
  autopep8: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
  mdformat-check: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
